.reviews-page-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    gap: 25px;
}

/* ####### mobile device ####### */
@media (max-width: 670px) {
  .reviews-page-container{
      grid-template-columns: 1fr;
  }
}