.header {
  display: none;
}
.page-not-found {
  height: 80vh;
  position: relative;
}
.error {
  font-size: 210px;
  position: absolute;
  top: 40%;
  right: 25%;
  opacity: 0.2;
  transform: translate(-50%, -50%);
}
.text-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ffffff42;
}
.sorry {
  text-transform: uppercase;
  top: 40%;
  right: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}

/* ############ add media query ########### */
@media (min-width: 768px) and (max-width: 992px) {
  .error {
    font-size: 140px;
    right: 20%;
  }
  .sorry {
    top: 35%;
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .error {
    font-size: 180px;
    right: 2%;
  }
  .sorry {
    text-align: center;
    top: 30%;
  }
}
@media (max-width: 576px) {
  .error {
    font-size: 120px;
    top: 50%;
    right: 5%;
  }
}
